/*-------- Category -----------*/
.box {
    padding-top: 60px;
    padding: 60px 12px 0 12px ;
}
.box-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.list-group-item{
    padding-top: 10px;

}
.list-group-item a{
    display: block;
    color: black;
    font-size: 1.6rem;
    text-align: left;
    padding-left: 20px;
    transition: all 0.5s ease;
    font-weight: 700;
}
.list-group-item a:hover{
    padding-left: 60px;
    transition: all 0.5s ease;
}
.list-group-item.active a{
    background: -webkit-linear-gradient(#00F260, #0575E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list-group-item.active{
    background-color: white !important;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom,#00F260,  #0575E6);
}
.sort-hidden{
    display: none;
}
@media screen and (max-width: 768px){
    .sort-hidden{
        display: block;
    }
    .box{
        display: none;
    }
}
.filter-product {
    padding-top: 40px;
}

.sort {
    font-family: 'Roboto', serif;
    font-size: 1.6rem;
}
.list-options .sort select{
    width: auto;
    height: auto;
    border: none;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    line-height: 1;
    background-color: white;
}
.description {
    margin-top: 30px;
}

select {
    outline: none;
}

.sort select option {
    font-family: 'Roboto', serif;
    outline: none;
    font-size: 1.8rem;
}

.list-options {
    margin-left: 40px;
}

.pagi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 1.6rem;
}

.page-link {
    font-size: 1.6rem;
    font-family: 'Roboto', serif;
}

.product-grid {
    font-family: Raleway, sans-serif;
    text-align: center;
    padding: 0 0 52px;
    /*border: 1px solid rgba(0, 0, 0, .1);*/
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 12px 0;
    border-radius: 5px;
    /*box-shadow: 2px 3px 3px 3px #888;*/
}

.product-grid .product-image {
    position: relative;
    transition: all .3s ease 0s
}

.product-grid .product-image a {
    display: block
}

.product-grid .product-image img {
    width: 100%;
    height: auto
}

.product-grid .pic-1 {
    opacity: 1;
    transition: all .3s ease-out 0s
}

.product-grid:hover .pic-1 {
    opacity: 1
}

.product-grid .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-out 0s
}

.product-grid:hover .pic-2 {
    opacity: 1
}

.product-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid:hover .social {
    opacity: 1;
    top: 50%
}

.product-grid .social li {
    display: inline-block
}

.product-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.product-grid .social li a:hover {
    color: #fff;
    background-color: #ef5777
}

.product-grid .social li a:after, .product-grid .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
    opacity: 1
}

.product-grid .product-discount-label, .product-grid .product-new-label {
    color: #fff;
    background-color: #ef5777;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0
}

.product-grid .product-discount-label {
    background-color: #333;
    left: auto;
    right: 0
}

.product-grid .rating {
    color: #FFD200;
    font-size: 12px;
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: -1
}

.product-grid .rating li.disable {
    color: rgba(0, 0, 0, .2)
}

.product-grid .product-content {
    background-color: #fff;
    text-align: center;

    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -32px;
    z-index: 1;
    transition: all .3s
}

.product-grid:hover .product-content {
    bottom: 13px;
}

.product-grid .title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
    transition: all .3s ease 0s
}

.product-grid .title a {
    font-size: 16px;
    color: black;
}

.product-grid .title a:hover, .product-grid:hover .title a {
    color: #ef5777
}

.product-grid .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 8px;
    text-align: center;
    transition: all .3s
}

.product-grid .price span {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 3px;
    display: inline-block
}

.product-grid .add-to-cart {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid #b2b2b2;
    transition: all 0.5s ease;
    font-family: 'Poppins';
}

.product-grid .add-to-cart:hover {
    color: white;
    background-color: black;
    transition: all 0.5s ease;
}

@media only screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px
    }
}

.toast-message {
    font-size: 1.4rem;
    font-family: 'Roboto', serif;
    text-transform: uppercase;
}
/*Modal - Cart*/
.cart-link {
    display: block;
    position: relative;
}

.cart-icon i {
    color: #7d7a7a;
}

.cart-count {
    position: absolute;
    top: 30%;
    left: 60%;
    font-size: 1.2rem;
    background: rgb(255 0 0);
    padding: 2px 8px;
    border-radius: 50%;
    color: white;
    font-family: sans-serif;
}
.cart-product-name{
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
}
.cart-empty{
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
}
.cart-product-price{
    font-size: 1.8rem;
    margin:0 36px;
    font-weight: 700;
    width: 50%;
}
.remove-product{
    margin-right: 12px;
}
.quantity-input input{
    width: 100px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    /* margin: 10px 0 0 0 !important; */
    height: 40px;
    display: block;
    float: left;
    font-family: 'Roboto';
    background-color: white;
    border: 1px solid black;
    /*position: relative;*/
}
.descrease-product{
    border: none;
    height: 48px;
    width: 40px;
    text-align: center;
    display: block;
    line-height: 48px;
    font-size: 20px;
    position: absolute;
    top: -3px;
    left: 1px;
    color: #b2b2b2;
    transition: all 0.5s ease;
}
.add-product{
    display: block;
    border: none;
    height: 48px;
    width: 40px;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    position: absolute;
    top: -3px;
    right: 0;
    color: #b2b2b2;
    transition: all 0.5s ease;
}
.total{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
   background-color: #d2cfcf;

}
.total .total-title{
    font-size: 2rem;
    font-weight: bold;
}
.total .total-price{
    font-size: 2rem;
    font-weight: bold;
}
.btnCheckout{
    font-size: 2rem;
    border: 1px solid black;
    padding: 8px 12px;
    color: black;
    transition: all 0.4s ease;
}
.btnCheckout:hover{
    background-color: black;
    color: white;
    transition: all 0.4s ease;
}


